.profilDiscription{
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: rgba(1, 22, 49, 0.71);
    width: 100%;
}
.description{
    font-size: 18px;
    color: #dfc2ff;
    background-color: rgba(2, 3, 40, 0.7);
    margin: 6px 6px 6px 0;
    box-shadow: 0 -2px 12px 4px rgb(99, 252, 252);
    width: 100%;
    transition: all 0.3s linear;
}
.description:hover{
    box-shadow: 0 -2px 12px 4px rgb(146, 255, 71);
}

.avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 5px 20px 5px 20px;

}
.descriptionWrapper{
    max-height: 120px;
    background-color: #002041;
    max-width: 55%;

}
@media (max-width: 500px) {
    .descriptionWrapper{
        max-width: 100%;
    }
}
