.loginFormContayner{
    margin-top: 70px;
    height: calc(100vh - 70px);
    background-color: rgb(3 13 40 / 74%);
    display: flex;
    justify-content: center;
}
.form{
    flex: 1;
    margin: auto;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #01093f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form > span{
    padding: 2px 5px;

}
form input{
    margin-top: 10px;
}

.button{
    margin-top: 20px;
    color: azure;
    align-self: center;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em 1em;
    outline: none;
    background-color: hsl(237, 100%, 51%);
    border-radius: 5px;
    border: 2px solid #06f8db;
    transition: all 0.3s linear;
}

.button:hover {
    cursor: pointer;
}

.button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: 4px solid hsl(237, 100%, 51%);
    transform-origin: center;
    transform: scale(1);
}
.button:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}
.button:hover{
    border-color: hsl(237, 100%, 51%);
}
@media (max-width: 500px) {
    .loginFormContayner{
        z-index: 2;
        margin-left: -190px;
    }
}


