.loginFormContayner{
    margin-top: 70px;
    height: calc(100vh - 70px);
    background-color: rgb(3 13 40 / 74%);
    display: flex;
    justify-content: center;
    position: relative;
}
.form{
    color: #d9f8ec;
    flex: 1;
    margin: auto;
    align-items: center;
    height: 220px;
    width: 200px;
    background-color: #01093f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input{
    margin-top: 15px;
}

.button{
    margin-top: 15px;
    color: azure;
    align-self: center;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em 1em;
    outline: none;
    background-color: hsl(237, 100%, 51%);
    border-radius: 5px;
    border: 2px solid #06f8db;
    transition: all 0.3s linear;
}

.button:hover {
    cursor: pointer;
}

.button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: 4px solid hsl(237, 100%, 51%);
    transform-origin: center;
    transform: scale(1);
}
.button:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}
.button:hover{
    border-color: hsl(237, 100%, 51%);
}
.error {
    text-align: center;
    background-color: blue;
    border-bottom-color: blue;
    border-radius: 6px 6px 6px 0;
    border-width: 1px;
    border-style: solid;
    opacity: 0;
    width: 210px;
    height: 30px;
    position: absolute;
    top: -35px;
    left: -6px;
    color: #dc2121;
    border-left-color: #02b9ee;
    border-right-color: #03f8d3;
    border-top-color: #3bfc07;
    transition: all 0.5s linear;
}

.errorActive:after{

    color:blue;
    background-color: blue;
    content: "";
    position: absolute;
    bottom: 0;
    top:25px;
    left: 0;
    width: 20px;
    height: 20px;
    clip-path: polygon(100% 100%, 100% 0, 0 0, 11% 6%, 23% 12%, 35% 20%, 48% 29%, 60% 38%, 71% 48%, 81% 59%, 89% 72%, 95% 86%);
}

.errorActive{transition: all 0.5s linear;

    opacity: 100%;
}


.errorContainer{
    position: relative;
}

@media (max-width: 560px) {
    .loginFormContayner{
        z-index: 2;
        margin-left: -190px;
    }
}


