*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image:url("./asets/bacground2.png");
    background-size: cover;
    background-attachment: fixed;
}
.app-wraper{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 60px 1fr;
}

a {/* убирает браузерную подсветку при табе*/
    -webkit-tap-highlight-color: transparent; /* Для WebKit-браузеров (Safari, Chrome) */
    -moz-tap-highlight-color: transparent; /* Для Firefox */
    -ms-tap-highlight-color: transparent; /* Для IE/Edge */
    tap-highlight-color: transparent; /* Общий вариант */
}

