.App {
  text-align: center;
}

.App-logo {
  height:20vmin;
  pointer-events: none;
  stroke-width: 6px;
  stroke: rgb(239, 110, 4);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s cubic-bezier(.96,1.94,0,-1.59);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) scale(1);

  }
  to {
    transform: rotate(360deg)scale(4);
  }
}
